/* glo.css */ 

body {
  background: #1a1a1a;
  color: white;
  font-family: monospace;
  margin: 0px;
  background: #1a1a1a;
  background-image: radial-gradient(rgba(127, 59, 200, 0.36), #fff0);
  padding: 300px;
  text-align: center;
}

.button-primary {
  padding: 15px;
  color: white;
  font-family: monospace;  
  background: black;
  border: solid 2px rgb(127, 59, 200);
  border-radius: 2px;
  cursor: pointer;
}
