html {
  background-color: #b7d6ff;
  background-image: linear-gradient(0deg, rgba(255,255,255,1) 27%, rgba(192,239,249,1) 27%, rgba(192,239,249,1) 100%);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Inika", Times New Roman, Serif;
  font-weight: 400;
}



body {
  margin: 10%;
  padding: 20px;
  width: fit-content;
  background-color: rgb(58, 53, 50);
  color: rgb(255, 255, 255);
  border: solid 10px rgb(26, 23, 22);
  border-radius: 20px;
}

html::before {
  background-image: radial-gradient(farthest-side at 100% 0, rgb(247, 255, 136) 0%, rgba(255,255,255,0) 50%);
  content: "";
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body::before {
  background-color: rgb(58, 53, 50);
  border: solid 10px rgb(26, 23, 22);
  border-left: none;
  border-right: none;
  content: "";
  position: absolute;
  left: 0;
  width: calc(10% + 10px);
  height: 40px;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 36px;
}

.link-padded {
  margin-right: 15px;
}

a {
  color: #a4d1a8;
  transition: font-size 0.3s;
}

emphisised-text {
  transition: font-size 0.3s;
  color: #d1a4a4;
}
emphisised-text:hover {
  font-size: 1.23em;
}

a:hover {
  font-size: 1.13em;
}

card {
  padding: 10px;
  background: hwb(0 0% 100% / 0.137);
  display: inline-block;
  max-width: 85px;
  text-align: center;
  text-wrap: stable;
  backdrop-filter: blur(100px);
  border-radius: 12px;
  overflow: hidden;
}

card h3 {
  transition: font-size 0.3s;
  background: linear-gradient(45deg, #818181, #dbc9af);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

card h3:hover {
  font-size: 1.23em;
}
